main {
    padding: 15px;
    border: 2px blue solid;
    border-radius: 10px;
    width: 400px;
    background-color: #e0ffee;
}
li {
    margin: 10px;
    background-color: #e2dffb;
    width: 200px;
    font-size: 20px
}


// Pathetic attempt to recreate the same effect in css
h1:hover {
    animation: boink 1.5s ease-in-out;
}

@keyframes boink {
    0% {transform: translateX(0px)}
    20% {transform: translateX(7px)}
    40% {transform: translateX(14px)}
    60% {transform: translateX(20px)}
    80% {transform: translateX(16px)}
    100% {transform: translateX(20px)}
}