main {
    padding: 15px;
    border: 2px blue solid;
    border-radius: 10px;
    width: 400px;
    background-color: #e0ffee;
}
li {
    margin: 10px;
    background-color: #e2dffb;
    width: 200px;
    font-size: 20px
}

